<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zykj.samplechat">


    <uses-permission android:name="com.zykj.FriendsSocial.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 可选-->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="Android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name="com.zykj.samplechat.ui.widget.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">


        <activity
            android:name="com.zykj.samplechat.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="Mob-AppKey" android:value="2cf17b91428cf"/>
        <meta-data android:name="Mob-AppSecret" android:value="a69ae182c27ae7ba202ceb13d5f26e4e"/>
        <!-- 必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="d9794889a21727865fd5cd1a3092fd0b"></meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZhtrpBIvoS5YGdzGcfdWzx2nrSZenosn" />
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- 可选-->
        <activity android:name="com.pgyersdk.activity.FeedbackActivity" />
        <!-- 会话列表 -->
        <activity
            android:name="com.zykj.samplechat.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.zykj.samplechat.ui.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 会话界面 -->
        <activity
            android:name="com.zykj.samplechat.ui.activity.NavigateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginSmsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginExistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginResetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LoginforgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.RegisterCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.RegisterCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.RegisterSmsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnUserNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.WanJiadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnAboutmeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsFoundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.PicsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.GroupFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamYaoqingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamTichuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsRemarkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnErweimaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.FriendsTuijianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.NewRecordVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.PlayVideoActiviy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.LocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.BasicMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.A8_4_2_LuZhiShiPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.NewRecordVideoForPublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.PublishVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnGongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnGongInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnYJActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnAboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.OwnWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.GetHongbaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.GetHongbaoListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.SendMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.PublishGroupActivity"
            android:screenOrientation="portrait" />
        <!-- 虎子 -->
        <activity
            android:name="com.zykj.samplechat.ui.activity.FastMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.QRCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.SearchChattingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamNoticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.TeamManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.PictureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 斩风 -->
        <activity
            android:name="com.zykj.samplechat.ui.activity.ZZhuanQianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.ZJiaoYiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.ZJiluActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.SheZhiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.zykj.samplechat.ui.activity.ZWalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.zykj.myproject.FileProvider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/rc_file_path" />-->
        <!--</provider>-->
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.zykj.samplechat.rongc.provider.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.zykj.myproject" />
            </intent-filter>
        </receiver>

        <activity android:name="com.zykj.samplechat.ui.activity.JiLuActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.MyWanActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.BangDingZfbActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.MyShouYiActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.XuQiuActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.TiXianActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.mYxiaxianActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.RegisterCreatetwoActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.RegisterSmstoeActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.QiTaJiLuActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.LoginResetPwdzfActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.RegisterChecktowActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.MyqunActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.MymoyouActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.JiLuTwoActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.WebViewsActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.TiXianJiLuActivity" />
        <activity android:name="com.zykj.samplechat.ui.activity.CongZhiActivity"></activity>
        <activity android:name="com.zykj.samplechat.ui.activity.ZhuanZhangActivity"></activity>
        <activity
            android:name="com.zykj.samplechat.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx58a8da7a415641ce" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- ShareSDK3.1.0版本之前才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent-->
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zykj.samplechat.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>